[Unit]
Description=NKOSL append-only blog
After=network.target

[Service]
WorkingDirectory=/opt/nkosl-www/app/nkosl-blog
EnvironmentFile=/opt/nkosl-www/gunicorn.env
ExecStart=/home/nkosl/nkosl_env/bin/gunicorn -b localhost:5000 app:nkosl_app
Restart=always

[Install]
WantedBy=multi-user.target