[Unit]
Description=NKOSL append-only blog
After=network.target

[Service]
WorkingDirectory=/opt/nkosl-www/app/nkosl-blog
ExecStart=gunicorn -b localhost:5000 app:nkosl_app
Restart=always

[Install]
WantedBy=multi-user.target
